/*
STANDARD CONFIGURATION for Germline Pipeline
*/
singularity.enabled = true
singularity.autoMounts = true
pipeline_path = "&PATH_BIN_HPC"

// INTERNAL PARAMS PATH
params.modules_location="${pipeline_path}/bin/germ_process"
params.container_dir="${pipeline_path}/bin/def"
params.resource_dir="${pipeline_path}/bin/resource"
params.script_dir="&PATH_BIN_HPC/bin/script"

// INPUT FILES PATH
//params.fastq_path="/archive/genomic_data/5000genomi/FASTQ/*/*_R{1,2}_001.fastq.gz"
params.fastq_path="&HPC_FASTQS_FOLDER/*_R{1,2}_001.fastq.gz"
params.bam_path="/archive/genomic_data/5000genomi/BAM/*/*.bam{,.bai}"
params.vcf_path="/archive/genomic_data/5000genomi/VCF_Germline/*/*_PassHF.vcf.gz{,.tbi}"
params.snv_annot_path="/archive/s1/ASL_ONC_Analysis/AnnotationGermline/02_cosmic_annotation/*_PassHF_MultiallelicSplit_SnpEff_annovar_COSMIC.vcf"
params.sv_path="/archive/s1/ASL_ONC_Analysis/SVs_Germline/SV/*_consensusFiltered_final.vcf"

//OUTPUT DIR
params.outdir="${launchDir}"

//COSMIC FLAG

params.COSMIC_FLAG= true // false // true


includeConfig "${pipeline_path}/bin/container_germ.config"
includeConfig "${pipeline_path}/bin/hpc_set_germ.config"
