**/.nextflow*

./.git
**/.streamflow/

*.sif
*.vcf.gz

Pipeline/CMP3_germline/bin/def/MELT/MELT-2.2.2.sif

Indels.drawio.png


CosmicCodingMuts.*

Pipeline/results_*
Pipeline/streamflow.yml
Pipeline/streamflow_2act.yml
Pipeline/environments/pbs_delete.pbs
Pipeline/environments/pbs_nextflow_nosample.pbs
Pipeline/cwl/config_cwl_no_sample.yml'
Pipeline/cwl/config_cwl_2act_no_sample.yml
Pipeline/cwl/scripts/delete.sh
Pipeline/cwl/scripts/copy_results_back_nosample.sh
Pipeline/CMP3_germline/bin/hpc_set_germ.config
Pipeline/CMP3_germline/bin/container_germ.config
Pipeline/CMP3_germline/nextflow.config
Pipeline/CMP3_germline/Makefile
Pipeline/CMP3_germline/bin/def/MELT/Melt_container.def
Pipeline/CMP3_germline/bin/def/Filtering/TSV_FilterAnnotation_MantaMelt_AnnotSV3.2.3_SVAfotate.def
Pipeline/CMP3_germline/bin/def/sv_cons_general_utilities/sv_cons_general_utilities.def
Pipeline/CMP3_germline/bin/def/VCF_AnnotationFiltering/VCF_FilterAnnotation_v9.def
Pipeline_init/streamflow.yml
Pipeline_init/environments/indexing_Cosmic.pbs
Pipeline_init/environments/download_databases.pbs
Pipeline_init/environments/add_permissions.pbs
Pipeline_init/cwl/config_cwl.yml
Pipeline_init/cwl/script/indexing_Cosmic_sh.sh
Pipeline_init/cwl/script/copy_to_HPC_sh.sh
Pipeline_init/cwl/script/add_permissions_sh.sh
Pipeline_init/cwl/script/download_db.pbs
Pipeline/cwl/scripts/compress_nosample.sh
Pipeline/environments/pbs_compress.pbs
Pipeline/cwl/config_cwl.yml
Pipeline/cwl/config_cwl_2act.yml
Pipeline/cwl/scripts/compress.sh
Pipeline/cwl/scripts/copy_results_back.sh
Pipeline/environments/pbs_nextflow.pbs
Pipeline_init/config_user_2HPCs.txt



